{% extends 'base.html' %}

{% block body %}
<h1>Добавлениe информационной карточки</h1>
{% endblock %}

{% block add_cards %}
<div class="container">
<div class="mb-3">
    <form action="" method="post">
   {{ form.hidden_tag() }}
  {{ form.name(class_="form-control") }}


            <br> {{ form.text(class_="form-control") }}
            <br>{{ form.submit(class_="btn btn-warning", rows_="4") }}
            </form>



    </div>


{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}


</form>
</div>


{% endblock %}