{% extends 'base.html' %}

{% block title %}
Обсуждение поста
{% endblock  %}
{% block body %}
<h4>Обсуждение поста: </h4>
<div class="alert alert-dismissible alert-info col-5"
                         role="alert"
                         id="alert">
    <br>
    <h3>{{ card_info.name }}</h3><br>
        {{ card_info.text }}<br>
    Автор: <a href="{{ url_for('acc_user', id=card_info.user.id) }}">{{ card_info.user.username }}<br></a>
    Дата написания: {{  card_info.date_add_card.date() }}
    {% if card_info.user.id == current_user.id %}
    <a href="{{ url_for('upd_card', id=card_info.id) }}" class="btn btn-warning">Редактировать</a><br>
    <form method="post" action="{{ url_for('del_card', id=card_info.id) }}">
    <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
    {% endif %}
</div>
<form action="{{url_for('discussion', id=card_info.id) }}" method="POST">
    {{ form.hidden_tag() }}
    <textarea class="form-control"  rows="2" {{ form.text_comment }}></textarea>
  <br>  <input class="btn btn-warning" {{ form.submit }}>
</form>
<h3>КОММЕНТАРИИ</h3>

{% for el in card_info.card_comment  %}
<div class="alert alert-dismissible alert-success col-5"
                         role="alert"
                         id="alert">
    <a href="{{ url_for('acc_user', id=card_info.user.id) }}" >{{ el.user_com.username }}</a><br>

    {{ el.text_comment }}<br>

 Дата добавления : {{ el.date_comment.date() }}
    {% if current_user.id == el.user_com.id %}
    <form method="post" action="{{ url_for('delete_comment', id=el.id) }}">
    <a href="{{ url_for('update_comment', id=el.id) }}" methods="post" class="btn btn-warning">Редактировать</a>
    <button  type="submit"   class="btn btn-danger">Удалить</button>
    {% else %}
    {% endif %}
</div>
{% endfor %}

{% endblock %}

