{% extends 'base.html' %}

{% block title %}
Страница регистрации
{% endblock %}
<h1>Страница регистрации</h1>
{% block registr %}
<h1>Страница регистрации</h1>
<div class="alert alert-success col-5" >

   <form     action=""  method="POST">
       {{ form.hidden_tag() }}
       {{ form.username(class_="form-control" ,type="text")}}
       {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
       {% endfor %}
       <br>

            {{ form.password(class_="form-control" ,type="text") }}<br>
       <br>     {{ form.confirm_password }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
       {{ form.submit(class_="btn btn-outline-success")}}



    </form>
</div>
{%  endblock %}
