{% extends 'base.html' %}

{% block body %}
<h1>Редактированиия карточки</h1>
<div>
    <form action="{{ url_for('upd_card', id=card.id) }}" method="POST" >
        <input class="form form-control" type="text" id="name" name="name" value="{{ card.name }}" required><br><br>

        <textarea class="form form-control" id="text" name="text" required>{{ card.text }}</textarea><br><br>

        <input type="submit" value="Сохранить" class="btn btn-warning">
        <a href="/personal_acc" class="btn btn-warning">Отменить редактирования</a>
    </form>
</div>
{% endblock %}