{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1>Главная страница</h1>
<h2>Все посты:</h2>
{% block add_cards %}
{% endblock %}
{% for el in   list_cards  %}
<div class="alert alert-dismissible alert-info col-5"
                         role="alert"
                         id="alert">
                        <strong> </strong>


                       <h3> {{ el.name }} </h3>
    <br>
    <br>
                         {{ el.text }}
    <br>
    <br>
            Дата публикации:{{ el.date_add_card.date()  }}
    Автор: <a href="{{ url_for('acc_user', id=el.user_id) }}" >{{ el.user.username }}</a>
        <a href ="{{ url_for('discussion', id=el.id) }}" class="button">Обудить</a>

 </div>

{% endfor %}


{% for el in come_al %}
{{ el.text_comment }}
{% endfor %}
{% endblock %}