{% extends 'base.html' %}

{% block title %}
Страница регистрации
{% endblock %}
<h1>Страница регистрации</h1>
{% block registr %}
<h1>Страница регистрации</h1>
<div>

   <form action=""  method="POST">
       {{ form.hidden_tag() }}
       {{ form.username }}
       {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
       {% endfor %}
       <br>

       <br>     {{ form.password }}<br>
       <br>
     <br>    {{ form.submit }}



    </form>
</div>
{%  endblock %}
